@model Lab_Activity.Models.Instructor

<h2>Instructor Details</h2>

<table class="table">
    <tr>
        <th>ID</th>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <th>First Name</th>
        <td>@Model.FirstName</td>
    </tr>
    <tr>
        <th>Last Name</th>
        <td>@Model.LastName</td>
    </tr>
    <tr>
        <th>Is Tenured</th>
        <td>@(Model.IsTenured ? "Permanent" : "Probitionary")</td>
    </tr>
    <tr>
        <th>Rank</th>
        <td>@Model.Rank</td>
    </tr>
    <tr>
        <th>Hiring Date</th>
        <td>@Model.HiringDate.ToShortDateString()</td>
    </tr>
</table>

@Html.ActionLink("Back to List", "Index")